* {
    box-sizing: border-box;
}

.layout-wrapper {
    text-align: center;
    color: black;
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(255, 255, 255, 1)), url(../images/portfolio-banner.jpg);
    color: black;
    background-size: cover;
}

.name {
    color: rgb(116, 35, 35);
}

nav {
    background-color: rgb(116, 35, 35);
    color: white;
}

.card-container {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}

.card {
    border: 2px solid black;
}

.gradient {
    background-image: linear-gradient(rgb(255, 254, 254), rgb(224, 224, 224));
}

.card-body {
    background-color: white;
    color: black;
}

.btn {
    background-color: rgb(116, 35, 35);
    color: white;
}

.profile {
    border-radius: 40%;
    border: 3px solid black;
    padding: .5em;
}