* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
}


.layout-wrapper {
    text-align: center;
    color: black;
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 1)), url(../images/portfolio-banner.jpg);
    color: black;
    background-size: cover;
}

.bottom-banner {
    background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(0, 0, 0, 0.2)), url(../images/portfolio-banner.jpg);
    color: black;
    background-size: cover;
}

.change {
    margin-left: 15px;
}

.name {
    color: rgb(116, 35, 35);
}

nav i.fa {
    font-size: 1.5em;
}

nav,
footer {
    background-color: rgb(116, 35, 35);
    color: white;
}

.card-container {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}

.card {
    border: 2px solid black;
}

.card-body a {
    margin-top: auto;
}

.card-body a:hover {
    color: rgb(255, 226, 130);
}

.gradient {
    background-image: linear-gradient(rgb(255, 254, 254), rgb(224, 224, 224));
}

.card-body {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
}

.card-text {
    margin-bottom: 30px;
}

.btn {
    background-color: rgb(116, 35, 35);
    color: white;
}

i {
    color: white;
}

.profile {
    border-radius: 40%;
    border: 3px solid black;
    padding: .5em;
}

ul li {
    list-style: none;
}

body.dark {
    background-color: rgb(65, 64, 64);
    color: white;
}

body.dark main.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 1)), url(../images/banner-inverted.jpg);
}