body
{
    background-color: lightgrey !important;
}

.container a
{
    text-decoration:none !important;
    color:rgba(1, 11, 71, 0.822) !important;
}

.container a:hover
{
    color: rgb(114, 170, 189) !important;
}

.navbar a:hover
{
    
    color: rgb(248, 220, 93) !important;
}

.navbar, footer
{
    background-color: rgba(1, 11, 71, 0.822);
}

.nav-link, h1, h2, h3, h4, h5{
    font-family: 'Arvo', sans-serif;
}

h1, h2, h3, h4, h5
{
    color: rgba(1, 11, 71, 0.822);
}

.articlecontainer
{
    display: flex;
}

.articleimg
{
    width: 25%;
}

.article
{
    width: 65%;
    margin: auto;
}

footer
{
    text-align: center;
    font-style: italic;
    color: white;
}

.banner img
{
    border-radius: 30% !important;
}

i
{
  padding-left: 50px;
  color: white;
}

.buttonholder
{
    text-align: center;
}

.ingredients
{
    width: 100%;
    margin: auto;
}

.nav-item
{
    padding-left: 40px;
    font-size: 1.2em;
}

.top-page
{
    margin-top: 150px;
}

.food
{
    width: 100px;
}